{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "base/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "base/fonts/ionicons.min.css" %}" rel="stylesheet">
    <link href="{% static "base/fonts/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "base/css/site-footer.css" %}" rel="stylesheet">
    <link href="{% static "base/css/Navigation-with-Button1.css" %}" rel="stylesheet">
    <link href="{% static "base/css/styles.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="{% static "faq/css/FAQ-Frequentlly-Asked-Questions.css" %}">
    <link rel="stylesheet" href="{% static "faq/css/FAQ-Frequentlly-Asked-Questions1.css" %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-fixed-top navigation-clean-button">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url "landing" %}" style="color:rgb(34,162,12);font-size:30px;font-family:Source Sans Pro;">Sportacle </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li role="presentation"><a href="{% url "profile" request.user.username %}">Profile </a></li>
                        {% else %}
                            <li role="presentation"><a href="{% url "login" %}">Profile </a></li>
                        {% endif %}
                        <li role="presentation"><a href="{% url "gamelist" %}">Games </a></li>
                        <li role="presentation"><a href="{% url "leaderboard" %}">Leaderboard </a></li>
                        <li role="presentation"><a href="{% url "faq" %}">FAQ </a></li>
                    </ul>
                    <p class="navbar-text navbar-right actions">
                        {% if user.is_authenticated %}
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    Your pick card: 
                                    <a href="{% url "cart:cart_detail" %}">
                                        {{ total_items }} pick{{ total_items|pluralize }}
                                    </a>
                                     |
                                {% else %}
                                    Your card is empty |
                                {% endif %}
                            {% endwith %} 
                            Logged in as: <a href="{% url "profile" request.user.username %}">{{ user.get_username }}</a> |
                            <a href="{% url "logout" %}">Log Out</a>
                        {% else %}
                            <a class="navbar-link login" href="{% url "login" %}">Log In</a> <a class="btn btn-default action-button" role="button" href="{% url "landing" %}" style="background-color:rgb(13,183,30);">Sign Up</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </nav>
    </div>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
    <div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Sportacle © 2017</h5></div>
                    <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
    </footer>
    </div>
    <script src={% static "base/js/jquery.min.js" %}></script>
    <script src={% static "base/bootstrap/js/bootstrap.min.js" %}></script>
</body>

</html>