{% extends "base/base.html" %}
{% load static %}
{% block title %}Sportacle{% endblock %}

{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportacle - FAQ</title>

    <div class="container" style="padding-top:0px;padding-bottom:40px;">
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="faqHeader">New Player FAQ</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is Sportacle?</a></h4></div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">Sportacle is a web-based game that evaluates your ability to pick the outcome of sporting events, while taking into consideration the odds of each event.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How do I play?</a></h4></div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">Create an account and then proceed to login. Once logged in, access the Gamelist page which will list the upcoming sporting events. Select your expected results of the events. Sportacle will do the rest of the work and place you into a rank based on your skill.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is my goal while playing?</a></h4></div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">Your goal is to be the most profitable & consistent sports picker. The odds are taken into consideation and are displayed on the Gamelist page.</div>
                </div>
            </div>
            <div class="faqHeader">Follower System FAQ</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What is the follower system?</a></h4></div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">As a user you have the ability to follow other user's. By doing so, you gain the ability to view their selected upcoming picks. However, if the user is the rank of Oracle, it will cost you to follow them.</div>
                </div>
                </div>
            <div class="faqHeader">Ranking System FAQ</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How does the ranking system work?</a></h4></div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">Sportacle matches your expected picks with the actual sport events results. Your picks are then run through Sportacles ranking system algorithim. The algorithim's criteria includes how profitable a player is, and how consistent they are.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What are the ranks?</a></h4></div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body"> Each rank has three tiers. For example Amateur III is a higher rank than Amateur I. The ranks can be found below:
                        <ul>
                            <li>Rookie I, II, III</li>
                            <li>Amateur I, II, III</li>
                            <li>Pro I, II, III</li>
                            <li>Oracle I, II, III</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How do I earn money from my picks?</a></h4></div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body"> If your rank reaches the level of "Oracle" then it will cost other users to follow you, and this is when you will begin to receive money.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How do I find an Oracle to follow?</a></h4></div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">The Leaderboard is the best place to find the best Oracles. However, the better oracles are more costly to follow as they are proven to be more profitable.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How do I receive the money as a Oracle?</a></h4></div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">When a user follows you, the money will be deposited into a PayPal account of your choosing.</div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}