<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sportacle - Login or Signup</title>
    
    <link rel="stylesheet" href="{% static "landing/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "landing/fonts/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "landing/fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "landing/css/user.css" %}">
    <link rel="stylesheet" href="{% static "landing/css/site-footer.css" %}">
    <link rel="stylesheet" href="{% static "landing/css/Navigation-with-Button1.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
</head>

<body>
    <div>
        <nav class="navbar navbar-default navigation-clean-button">
            <div class="container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand navbar-link" href="{% url "landing" %}" style="color:rgb(34,162,12);font-size:30px;">Sportacle </a>
                </div>
                <div class="navbar-header pull-right">
                    <p class="navbar-text navbar-right actions">
                        <a class="btn btn-default plain-button" role="button" href="/gamelist">Continue as guest</a>
                        <a class="btn btn-default action-button" role="button" href="/login">Login</a>
                    </p>
                </div>
            </div>
        </nav>
    </div>

     <div class="jumbotron hero" style="background-image: url('{% static "landing/images/nfl_desktop_wallpaper_015.png"%}')";>
        <div class="col-md-4 col-md-push-7 phone-preview align-top">
            <form method="post">
                <h1 class="text-center" style="color:rgb(252,251,251);"><strong>Create</strong> an account</h1>
                <div class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label" style=font-size:16px;>{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group"></div>
                    <div class="checkbox">
                        <label class="control-label" style="color:rgb(255,250,250);">
                            <input type="checkbox" required="">You agree to the terms of service and verify you're older than 21.</label>
                    </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" id="signup" style="background-color:rgb(34,162,12);">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Think you're good at sports betting?</h1>
                    <p><strong>Prove it: Sportacle will assess your sports picking ability by placing you into our ranking system. Rank high enough and become a Sportacle Verified Picker (SVP) to start earning cash when other users pay to follow your picks.</strong></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Watch sports for a reason!</h2>
        <blockquote>
            <p>Before the game begins, login to Sportacle and select your pick. If your pick is correct, you will begin to rank up.  Get it wrong, and you will begin to rank down. Rank high enough and become a Sportacle Verified Picker (SVP).</p>
        </blockquote>
    </section>
    <section class="features" style="background-color:rgb(34,162,12);">
        <div class="container">
            <div class="row">
                <div class="col-md-100">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-phone"></i>
                            <p>Play for free on any device</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-user"></i>
                            <p>Compete against your friends</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                            <p>Rank up and earn $ from your picks</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Sportacle © 2017</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src={% static "landing/js/jquery.min.js" %}></script>
    <script src={% static "landing/bootstrap/js/bootstrap.min.js" %}></script>
	<script src={% static "landing/js/scripts.js" %}></script>
</body>

</html>