{% extends "base/base.html" %}
{% block title %}Sportacle{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title }}</h3></div>
                    <div class="panel-body">
                        {% if relationships %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Games Picked</th>
                                            <th>Games Won</th>
                                            <th>Win %</th>
                                            <th>Expected Win %</th>
                                            <th>Edge</th>
                                            <th>Rank</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in relationships %}
                                            <tr>
                                                <td><a href="{% url "profile" r.user.username %}">{{ r.user.username }}</a></td>
                                                <td>{{ r.numGames }}</td>
                                                <td>{{ r.gamesWon }}</td>
                                                <td>{{ r.getWinRate|floatformat }}%</td>
                                                <td>{{ r.getExpRate|floatformat }}%</td>
                                                <td>{{ r.formatEdge|floatformat }}%</td>
                                                <td>{{ r.getRank }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>No users to show</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}