body {
    padding-top: 80px;
  }

a {
    color:#000000;
}

a:hover {
    color:#07ac0b;
}

.btn {
    background:#fff;
    padding-top:10px;
    padding-bottom:10px;
    color:#333;
    box-shadow:none;
    border:none;
    margin-bottom:0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Source Sans Pro;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background:#07ac0b;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    transition:background-color 0.25s;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #3aa33d;
    color: #fff;
}
 
.btn-primary:active, .btn-primary.active {
    background: #3aa33d;
    box-shadow: none;
}

.btn-remove {
    background:#8b8f96;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    transition:background-color 0.25s;
}
 
.btn-remove:hover, .btn-remove:focus, .btn-remove:active, .btn-remove.active, .open > .dropdown-toggle.btn-remove {
    background: #ff0000;
    color: #fff;
}
 
.btn-remove:active, .btn-remove.active {
    background: #ff0000;
    box-shadow: none;
}

.btn-switch {
    background:#8b8f96;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    transition:background-color 0.25s;
}

.btn-switch:hover, .btn-switch:focus, .btn-switch:active, .btn-switch.active, .open > .dropdown-toggle.btn-switch {
    background: #4286f4;
    color: #fff;
}

.btn-switch:active, .btn-switch.active {
    background: #4286f4;
    box-shadow: none;
}

.btn-plain {
    background:#8b8f96;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    transition:background-color 0.25s;
}
 
.btn-plain:hover, .btn-plain:focus, .btn-plain:active, .btn-plain.active, .open > .dropdown-toggle.btn-plain {
    background: #939496;
    color: #fff;
}
 
.btn-plain:active, .btn-plain.active {
    background: #939496;
    box-shadow: none;
}

.btn.sharp {
  border-radius:0;
}

.btn.round {
	border-radius: 20px;
}

table th, table td {
    text-align:center;
    font-size:14px;
    padding:10px;
    margin:0;
}

thead th {
    text-align:center;
    font-weight:bold;
}

table.games {
    table-layout: fixed;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#07ac0b;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}